@use "base/media";

.ArticleList {
    display: flex;
    flex-wrap: wrap;

    &__Item {
        width: 100%;

        @include media.query(sm) {
            width: 50%;
        }

        @include media.query(lg) {
            width: 33.33%;
        }
    }
}
