- var title="test"

doctype html
// src/pug/index.pug より自動出力
html(lang="ja")
    head
        meta(charset="utf-8")
        title #{title}
        link(rel="stylesheet" href="css/index.css")
    body
        header
            h1 #{title}
        main
            p main
        aside aside
        footer footer
