@use "base/media";

body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 4rem 1fr 4rem;
}

h1 {
    margin: 0;
}

header {
    grid-column: 1 / 3;
    background: pink;
    line-height: 4rem;
}

footer {
    grid-column: 1 / 3;
    background: lightgreen;
    text-align: center;
    line-height: 4rem;
}

main {
    background: lightblue;
    grid-column: 1 / 3;

    @include media.query(md) {
        grid-column: 1 / 2;
    }
}

aside {
    grid-column: 1 / 3;
    background: lightgray;

    @include media.query(md) {
        grid-column: 2 / 3;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

article {
    width: 100%;

    @include media.query(sm) {
        width: 50%;
    }

    @include media.query(md) {
        width: 33.33%;
    }
}
