@use "base/media";
@use "components/layout";
@use "components/article-list";
@use "components/article";

body {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

.autoprefixer-test {
    display: flex;
    tab-size: 4;
    white-space: pre-line;
}
